@model CategoryModel

<form method="post" class="form-horizontal">
    <input asp-for="Id" hidden />
    <div class="container">
        <h2 class="text-primary">Edit Category</h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 mt-3">
        @* <label for="" class="form-label">Category Name</label> *@
        @* <label asp-for="Name" class="form-label">(The name will automatically display here)</label> *@
        <label asp-for="Name" class="form-label"></label>
        <div class="col-lg-10">
            <input asp-for="Name" class="form-control" placeholder="Category Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 mt-3">
        <label asp-for="DisplayOrder" class="form-label"></label>
        <div class="col-lg-10">
            <input asp-for="DisplayOrder"  class="form-control" placeholder="Category Order">
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
    </div>
        
    <div class="mb-3">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-info">Update</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">
                Back to List
            </a>
        
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
